<connectionStrings>
    <add name="NopSqlConnection" connectionString="Data Source=NOPSERVER;Initial Catalog=nopCommerce;Integrated Security=False;Persist Security Info=False;User ID=nopdbuser;Password=dgs2002;Connect Timeout=120" />
    <add name="NopEntities" connectionString="metadata=res://*/Data.NopModel.csdl|res://*/Data.NopModel.ssdl|res://*/Data.NopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NOPSERVER;Initial Catalog=nopCommerce;Persist Security Info=True;User ID=nopDBUser;Password=dgs2002;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>

