<urlrewritingnet
   rewriteOnlyVirtualUrls="true"
   contextItemsPrefix="QueryString"
   defaultPage="default.aspx"
   defaultProvider="RegEx"
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>
    <add name="ProductDetailsRewrite" virtualUrl="^~/Products/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Product.aspx?ProductID=$1&amp;$3"
         ignoreCase="true" />
    <add name="CategoryDetailsRewrite" virtualUrl="^~/Category/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Category.aspx?CategoryID=$1&amp;$3"
         ignoreCase="true" />
    <add name="ManufacturerDetailsRewrite" virtualUrl="^~/Manufacturer/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Manufacturer.aspx?ManufacturerID=$1&amp;$3"
         ignoreCase="true" />
    <add name="NewsDetailsRewrite" virtualUrl="^~/News/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/News.aspx?NewsID=$1&amp;$3"
         ignoreCase="true" />
    <add name="BlogDetailsRewrite" virtualUrl="^~/Blog/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/BlogPost.aspx?BlogPostID=$1&amp;$3"
         ignoreCase="true" />
    <add name="TopicDetailsRewrite" virtualUrl="^~/Topic/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Topic.aspx?TopicID=$1&amp;$3"
         ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
