<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="NopConfig" type="NopSolutions.NopCommerce.BusinessLogic.Configuration.NopConfig, Nop.BusinessLogic" requirePermission="false"/>
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false"/>
    <sectionGroup name="nopDataProviders">
      <section name="LogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SearchLogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CategoryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SettingProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="BlogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ForumProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="NewsProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PollProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TopicProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CustomerProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CountryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CurrencyProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="LanguageProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="StateProvinceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="LocaleStringResourceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MaintenanceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ManufacturerProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MeasureProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="DownloadProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PictureProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MessageTemplateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="OrderProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShoppingCartProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CreditCardTypeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PaymentMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PaymentStatusProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ProductAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SpecificationAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ProductProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="AffiliateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CampaignProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="DiscountProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="BlacklistProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByTotalProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByWeightProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByWeightAndCountryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingRateComputationMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingStatusProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxProviderProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxRateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TemplateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="WarehouseProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UseSSL" value="false" />
    <add key="SharedSSL" value="" />
    <add key="GoogleMerchantID" value="123" />
    <add key="GoogleMerchantKey" value="456" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="GoogleAuthenticateCallback" value="False" />
    <add key="FCKeditor:BasePath" value="~/editors/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/images/" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <urlrewritingnet configSource="UrlRewriting.config"/>
  <system.web>
    <httpRuntime maxRequestLength="51200"/>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.htm">
      <error statusCode="403" redirect="BannedAddress.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="NopResources" type="NopSolutions.NopCommerce.BusinessLogic.Localization.NopResourceExpressionBuilder, Nop.BusinessLogic"/>
      </expressionBuilders>
    </compilation>
    <authentication mode="Forms">
      <forms name="NOPCOMMERCE.AUTH" loginUrl="~/Login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="false"/>
    </authentication>
    <anonymousIdentification enabled="true"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="NopMembershipSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="NopMembershipSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreMembershipProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="NopCommerce" requiresUniqueEmail="true" enablePasswordRetrieval="true"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="NopRoleManagerSqlProvider" cookieName=".NopCommerceRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="NopRoleManagerSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreRoleProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" applicationName="NopCommerce"/>
      </providers>
    </roleManager>
    <sessionState timeout="20" mode="InProc" cookieless="false"/>
    <siteMap defaultProvider="NopAdminXmlSiteMapProvider" enabled="true">
      <providers>
        <add name="NopAdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Administration/Admin.sitemap"/>
      </providers>
    </siteMap>
    <pages theme="DarkOrange">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Categories"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Configuration.Settings"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Blog"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Forums"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.NewsManagement"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Polls"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Directory"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Localization"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Manufacturers"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Measures"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Media"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Messages"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Orders"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Payment"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Attributes"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Specs"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Profile"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Affiliates"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Campaigns"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Discounts"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.SEO"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Shipping"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Tasks"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Tax"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Templates"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils.Html"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Warehouses"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Security"/>
        <add namespace="NopSolutions.NopCommerce.Common"/>
        <add namespace="NopSolutions.NopCommerce.Common.Utils"/>
        <add namespace="NopSolutions.NopCommerce.Common.Utils.Html"/>
        <add namespace="NopSolutions.NopCommerce.Controls"/>
        <add namespace="NopSolutions.NopCommerce.Controls.Payment.Validators"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
        <add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls" assembly="Nop.Controls"/>
        <add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls.Payment.Validators" assembly="Nop.Controls"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="pricelist.csv" validate="false" type="NopSolutions.NopCommerce.BusinessLogic.ExportImport.PricelistHandler, Nop.BusinessLogic"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="MembershipHttpModule" type="NopSolutions.NopCommerce.HttpModules.MembershipHttpModule, Nop.HttpModules.MembershipModule"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="BlacklistHttpModule" type="NopSolutions.NopCommerce.HttpModules.BlacklistHttpModule, Nop.HttpModules.BlacklistModule"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <remove name="NopCommerceFilter"/>
      <remove name="UrlRewriteModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="MembershipHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.HttpModules.MembershipHttpModule, Nop.HttpModules.MembershipModule"/>
      <add name="UrlRewriteModule" preCondition="managedHandler" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="BlacklistHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.HttpModules.BlacklistHttpModule, Nop.HttpModules.BlacklistModule"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="PricelistHandler" verb="*" path="pricelist.csv" preCondition="integratedMode" type="NopSolutions.NopCommerce.BusinessLogic.ExportImport.PricelistHandler, Nop.BusinessLogic"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <NopConfig>
    <SqlServer ConnectionStringName="NopSqlConnection"/>
    <Cache Enabled="True"/>
    <ScheduleTasks>
      <Thread seconds="120">
        <task name="Emails" type="NopSolutions.NopCommerce.BusinessLogic.Messages.SendQueuedMessagesTask, Nop.BusinessLogic" enabled="true" stopOnError="false" maxTries="5"/>
      </Thread>
      <Thread seconds="60">
        <task name="KeepAlive" type="NopSolutions.NopCommerce.BusinessLogic.Utils.KeepAliveTask, Nop.BusinessLogic" enabled="true" stopOnError="false" path="KeepAlive/Ping.ashx"/>
      </Thread>
      <Thread seconds="1800">
        <task name="DeleteExpiresCustomerSessions" type="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement.DeleteExpiresCustomerSessionsTask, Nop.BusinessLogic" enabled="true" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200"/>
      </Thread>
      <Thread seconds="3600">
        <task name="ClearCache" type="NopSolutions.NopCommerce.BusinessLogic.Caching.ClearCacheTask, Nop.BusinessLogic" enabled="true" stopOnError="false" />
        <task name="DatabaseMaintance" type="NopSolutions.NopCommerce.BusinessLogic.Maintenance.DatabaseMaintanceTask, Nop.BusinessLogic" enabled="true" stopOnError="false" />
      </Thread>
    </ScheduleTasks>
  </NopConfig>
  <nopDataProviders>
    <LogProvider defaultProvider="SQLLogProvider">
      <providers>
        <add name="SQLLogProvider" type="NopSolutions.NopCommerce.DataAccess.Audit.SQLLogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LogProvider>
    <SearchLogProvider defaultProvider="SQLSearchLogProvider">
      <providers>
        <add name="SQLSearchLogProvider" type="NopSolutions.NopCommerce.DataAccess.Audit.SQLSearchLogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SearchLogProvider>
    <CategoryProvider defaultProvider="SQLCategoryProvider">
      <providers>
        <add name="SQLCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.Categories.SQLCategoryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CategoryProvider>
    <SettingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="NopSolutions.NopCommerce.DataAccess.Configuration.Settings.SQLSettingProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SettingProvider>
    <BlogProvider defaultProvider="SQLBlogProvider">
      <providers>
        <add name="SQLBlogProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Blog.SQLBlogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </BlogProvider>
    <ForumProvider defaultProvider="SQLForumProvider">
      <providers>
        <add name="SQLForumProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Forums.SQLForumProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ForumProvider>
    <NewsProvider defaultProvider="SQLNewsProvider">
      <providers>
        <add name="SQLNewsProvider" type="NopSolutions.NopCommerce.DataAccess.Content.NewsManagement.SQLNewsProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </NewsProvider>
    <PollProvider defaultProvider="SQLPollProvider">
      <providers>
        <add name="SQLPollProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Polls.SQLPollProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PollProvider>
    <TopicProvider defaultProvider="SQLTopicProvider">
      <providers>
        <add name="SQLTopicProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Topics.SQLTopicProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TopicProvider>
    <CustomerProvider defaultProvider="SQLCustomerProvider">
      <providers>
        <add name="SQLCustomerProvider" type="NopSolutions.NopCommerce.DataAccess.CustomerManagement.SQLCustomerProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CustomerProvider>
    <CountryProvider defaultProvider="SQLCountryProvider">
      <providers>
        <add name="SQLCountryProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SQLCountryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CountryProvider>
    <CurrencyProvider defaultProvider="SQLCurrencyProvider">
      <providers>
        <add name="SQLCurrencyProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SQLCurrencyProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CurrencyProvider>
    <LanguageProvider defaultProvider="SQLLanguageProvider">
      <providers>
        <add name="SQLLanguageProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SQLLanguageProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LanguageProvider>
    <StateProvinceProvider defaultProvider="SQLStateProvinceProvider">
      <providers>
        <add name="SQLStateProvinceProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SQLStateProvinceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </StateProvinceProvider>
    <LocaleStringResourceProvider defaultProvider="SQLLocaleStringResourceProvider">
      <providers>
        <add name="SQLLocaleStringResourceProvider" type="NopSolutions.NopCommerce.DataAccess.Localization.SQLLocaleStringResourceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LocaleStringResourceProvider>
      <MaintenanceProvider defaultProvider="SQLMaintenanceProvider">
        <providers>
            <add name="SQLMaintenanceProvider" type="NopSolutions.NopCommerce.DataAccess.Maintenance.SQLMaintenanceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
        </providers>
    </MaintenanceProvider>
    <ManufacturerProvider defaultProvider="SQLManufacturerProvider">
      <providers>
        <add name="SQLManufacturerProvider" type="NopSolutions.NopCommerce.DataAccess.Manufacturers.SQLManufacturerProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ManufacturerProvider>
    <MeasureProvider defaultProvider="SQLMeasureProvider">
      <providers>
        <add name="SQLMeasureProvider" type="NopSolutions.NopCommerce.DataAccess.Measures.SQLMeasureProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </MeasureProvider>
    <DownloadProvider defaultProvider="SQLDownloadProvider">
      <providers>
        <add name="SQLDownloadProvider" type="NopSolutions.NopCommerce.DataAccess.Media.SQLDownloadProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </DownloadProvider>
    <PictureProvider defaultProvider="SQLPictureProvider">
      <providers>
        <add name="SQLPictureProvider" type="NopSolutions.NopCommerce.DataAccess.Media.SQLPictureProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PictureProvider>
    <MessageTemplateProvider defaultProvider="SQLMessageTemplateProvider">
      <providers>
        <add name="SQLMessageTemplateProvider" type="NopSolutions.NopCommerce.DataAccess.Messages.SQLMessageTemplateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </MessageTemplateProvider>
    <OrderProvider defaultProvider="SQLOrderProvider">
      <providers>
        <add name="SQLOrderProvider" type="NopSolutions.NopCommerce.DataAccess.Orders.SQLOrderProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </OrderProvider>
    <ShoppingCartProvider defaultProvider="SQLShoppingCartProvider">
      <providers>
        <add name="SQLShoppingCartProvider" type="NopSolutions.NopCommerce.DataAccess.Orders.SQLShoppingCartProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShoppingCartProvider>
    <CreditCardTypeProvider defaultProvider="SQLCreditCardTypeProvider">
      <providers>
        <add name="SQLCreditCardTypeProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SQLCreditCardTypeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CreditCardTypeProvider>
    <PaymentMethodProvider defaultProvider="SQLPaymentMethodProvider">
      <providers>
        <add name="SQLPaymentMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SQLPaymentMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PaymentMethodProvider>
    <PaymentStatusProvider defaultProvider="SQLPaymentStatusProvider">
      <providers>
        <add name="SQLPaymentStatusProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SQLPaymentStatusProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PaymentStatusProvider>
    <ProductAttributeProvider defaultProvider="SQLProductAttributeProvider">
      <providers>
        <add name="SQLProductAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.Products.Attributes.SQLProductAttributeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ProductAttributeProvider>
    <SpecificationAttributeProvider defaultProvider="SQLSpecificationAttributeProvider">
      <providers>
        <add name="SQLSpecificationAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.Products.Specs.SQLSpecificationAttributeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SpecificationAttributeProvider>
    <ProductProvider defaultProvider="SQLProductProvider">
      <providers>
        <add name="SQLProductProvider" type="NopSolutions.NopCommerce.DataAccess.Products.SQLProductProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ProductProvider>
    <AffiliateProvider defaultProvider="SQLAffiliateProvider">
      <providers>
        <add name="SQLAffiliateProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Affiliates.SQLAffiliateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </AffiliateProvider>
    <CampaignProvider defaultProvider="SQLCampaignProvider">
      <providers>
        <add name="SQLCampaignProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Campaigns.SQLCampaignProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CampaignProvider>
    <DiscountProvider defaultProvider="SQLDiscountProvider">
      <providers>
        <add name="SQLDiscountProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Discounts.SQLDiscountProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </DiscountProvider>
    <BlacklistProvider defaultProvider="SQLBlacklistProvider">
      <providers>
        <add name="SQLBlacklistProvider" type="NopSolutions.NopCommerce.DataAccess.Security.SQLBlacklistProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </BlacklistProvider>
    <ShippingByTotalProvider defaultProvider="SQLShippingByTotalProvider">
      <providers>
        <add name="SQLShippingByTotalProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingByTotalProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByTotalProvider>
    <ShippingByWeightProvider defaultProvider="SQLShippingByWeightProvider">
      <providers>
        <add name="SQLShippingByWeightProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingByWeightProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByWeightProvider>
    <ShippingByWeightAndCountryProvider defaultProvider="SQLShippingByWeightAndCountryProvider">
      <providers>
        <add name="SQLShippingByWeightAndCountryProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingByWeightAndCountryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByWeightAndCountryProvider>
    <ShippingMethodProvider defaultProvider="SQLShippingMethodProvider">
      <providers>
        <add name="SQLShippingMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingMethodProvider>
    <ShippingRateComputationMethodProvider defaultProvider="SQLShippingRateComputationMethodProvider">
      <providers>
        <add name="SQLShippingRateComputationMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingRateComputationMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingRateComputationMethodProvider>
    <ShippingStatusProvider defaultProvider="SQLShippingStatusProvider">
      <providers>
        <add name="SQLShippingStatusProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SQLShippingStatusProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingStatusProvider>
    <TaxCategoryProvider defaultProvider="SQLTaxCategoryProvider">
      <providers>
        <add name="SQLTaxCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SQLTaxCategoryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxCategoryProvider>
    <TaxProviderProvider defaultProvider="SQLTaxProviderProvider">
      <providers>
        <add name="SQLTaxProviderProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SQLTaxProviderProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxProviderProvider>
    <TaxRateProvider defaultProvider="SQLTaxRateProvider">
      <providers>
        <add name="SQLTaxRateProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SQLTaxRateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxRateProvider>
    <TemplateProvider defaultProvider="SQLTemplateProvider">
      <providers>
        <add name="SQLTemplateProvider" type="NopSolutions.NopCommerce.DataAccess.Templates.SQLTemplateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TemplateProvider>
    <WarehouseProvider defaultProvider="SQLWarehouseProvider">
      <providers>
        <add name="SQLWarehouseProvider" type="NopSolutions.NopCommerce.DataAccess.Warehouses.SQLWarehouseProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </WarehouseProvider>
  
</nopDataProviders>
</configuration>
